@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@300;400;500;600&display=swap");
body {
  background: #414242;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 400px;
  width: 1000px;
}

.wrapper .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(104, 107, 107, 0.555);
  height: 200px;
  width: 200px;
  border-bottom: 8px solid rgba(0, 0, 0, 0.719);
  border-radius: 15px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.wrapper .box:nth-child(1):hover svg #senka {
  opacity: 0.5;
}

.wrapper .box:nth-child(1):hover svg #pion,
.wrapper .box:nth-child(1):hover svg #ruka {
  -webkit-transform: translateY(-20px) rotateZ(10deg) translateX(10px);
          transform: translateY(-20px) rotateZ(10deg) translateX(10px);
}

.wrapper .box:hover {
  background: rgba(255, 255, 255, 0.274);
}

.wrapper .box:hover p {
  color: rgba(255, 255, 255, 0.801);
}

.wrapper .box svg,
.wrapper .box p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .box svg {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  margin-left: -20px;
}

.wrapper .box svg #senka {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.wrapper .box svg #pion,
.wrapper .box svg #ruka {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .box svg .st0 {
  opacity: 0.4;
}

.wrapper .box svg .st1 {
  fill: #ebe8cd;
}

.wrapper .box svg .st2 {
  opacity: 0.6;
}

.wrapper .box svg .st3 {
  fill: #9c9e8f;
}

.wrapper .box svg .st4 {
  opacity: 0.04;
}

.wrapper .box svg .st5 {
  fill: #c2bfa8;
}

.wrapper .box svg .st6 {
  opacity: 0.8;
}

.wrapper .box svg .st7 {
  fill: #fdffff;
}

.wrapper .box svg .st8 {
  fill: #f2eed3;
}

.wrapper .box svg .st9 {
  opacity: 0.1;
}

.wrapper .box svg .st10 {
  fill: #e8c39d;
}

.wrapper .box svg .st11 {
  fill: #e3c099;
}

.wrapper .box svg .st12 {
  opacity: 0.4;
  fill: #cead87;
}

.wrapper .box svg .st13 {
  fill: #d97b2c;
}

.wrapper .box svg .st14 {
  opacity: 0.13;
  fill: #ffffff;
  stroke: #f29e5f;
  stroke-miterlimit: 10;
}

.wrapper .box svg .st15 {
  opacity: 0.08;
  fill: #050505;
}

.wrapper .box svg .st16 {
  fill: #62903a;
}

.wrapper .box svg .st17 {
  fill: #ffffff;
}

.wrapper .box svg .st18 {
  font-family: 'Concert One', cursive;
  font-size: 24px;
}

.wrapper .box svg .st19 {
  fill: #3a709b;
  stroke: #3a709b;
  stroke-miterlimit: 10;
}

.wrapper .box svg .st20 {
  fill: #5d8baf;
}

.wrapper .box svg .st21 {
  fill: #628eb3;
}

.wrapper .box svg .st22 {
  fill: #095786;
}

.wrapper .box svg .st23 {
  fill: #99b7c0;
}

.wrapper .box svg .st24 {
  fill: #dad6d3;
}

.wrapper .box svg .st25 {
  fill: #e8e6e3;
}

.wrapper .box svg .st26 {
  fill: #b9b8b5;
}

.wrapper .box svg .st27 {
  fill: #537a87;
}

.wrapper .box svg .st28 {
  fill: #7dacc8;
}

.wrapper .box svg .st29 {
  fill: none;
  stroke: #e1dcda;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.wrapper .box p {
  margin-top: 0;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.513);
}

.wrapper .box:nth-child(2) svg {
  -webkit-transform: translateX(10px) scale(0.9);
          transform: translateX(10px) scale(0.9);
}

.wrapper .box:nth-child(2) svg #puzla {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.wrapper .box:nth-child(2) svg #question {
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(-5deg) scale(0.75);
          transform: rotate(-5deg) scale(0.75);
  -webkit-transition: 0.2s cubic-bezier(0.04, 1.43, 0.91, 1.56);
  transition: 0.2s cubic-bezier(0.04, 1.43, 0.91, 1.56);
}

.wrapper .box:nth-child(2):hover svg #question {
  opacity: 1;
  -webkit-transform: rotate(7deg) scale(0.9) translateX(-13px) translateY(-5px);
          transform: rotate(7deg) scale(0.9) translateX(-13px) translateY(-5px);
}

.wrapper .box:nth-child(2):hover svg #puzla {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.wrapper .box:nth-child(3) svg {
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
  margin-left: -5px;
}

.wrapper .box:nth-child(3) svg #kapa {
  -webkit-transition: 0.19s cubic-bezier(0.04, 1.43, 0.91, 1.56);
  transition: 0.19s cubic-bezier(0.04, 1.43, 0.91, 1.56);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.wrapper .box:nth-child(3) svg #percin {
  -webkit-transform: rotate(0deg) translateY(0px);
          transform: rotate(0deg) translateY(0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.wrapper .box:nth-child(3) svg #percin.hovered {
  -webkit-animation: percin 0.8s ease-in-out;
          animation: percin 0.8s ease-in-out;
}

.wrapper .box:nth-child(3):hover #kapa {
  -webkit-transform: rotate(-10deg) translateY(5px) skew(2deg);
          transform: rotate(-10deg) translateY(5px) skew(2deg);
}

.wrapper .box:nth-child(3):hover #percin {
  -webkit-transform: skewX(-10deg) translateY(2px);
          transform: skewX(-10deg) translateY(2px);
}

.wrapper .box:nth-child(4) svg {
  -webkit-transform: scale(0.83);
          transform: scale(0.83);
  margin-left: -2px;
  margin-top: 10px;
}

.wrapper .box:nth-child(4) svg #chess {
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  -webkit-transform: scale(0.8) translateX(0px);
          transform: scale(0.8) translateX(0px);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.wrapper .box:nth-child(4) svg #ekran {
  -webkit-transition: 0.25s cubic-bezier(0.08, 0.57, 0.27, 0.97);
  transition: 0.25s cubic-bezier(0.08, 0.57, 0.27, 0.97);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.wrapper .box:nth-child(4):hover #chess {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  -webkit-transform: scale(0.8) translateY(-8px);
          transform: scale(0.8) translateY(-8px);
}

.wrapper .box:nth-child(4):hover #ekran {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

@-webkit-keyframes percin {
  0% {
    -webkit-transform: skewX(0deg) translateY(2px);
            transform: skewX(0deg) translateY(2px);
  }
  30% {
    -webkit-transform: skewX(-17deg) translateY(2px) translateX(-2px);
            transform: skewX(-17deg) translateY(2px) translateX(-2px);
  }
  70% {
    -webkit-transform: skew(-7deg) translateY(2px);
            transform: skew(-7deg) translateY(2px);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateY(2px);
            transform: skewX(-10deg) translateY(2px);
  }
}

@keyframes percin {
  0% {
    -webkit-transform: skewX(0deg) translateY(2px);
            transform: skewX(0deg) translateY(2px);
  }
  30% {
    -webkit-transform: skewX(-17deg) translateY(2px) translateX(-2px);
            transform: skewX(-17deg) translateY(2px) translateX(-2px);
  }
  70% {
    -webkit-transform: skew(-7deg) translateY(2px);
            transform: skew(-7deg) translateY(2px);
  }
  100% {
    -webkit-transform: skewX(-10deg) translateY(2px);
            transform: skewX(-10deg) translateY(2px);
  }
}
/*# sourceMappingURL=style.css.map */