@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@300;400;500;600&display=swap');

body {
    background: rgb(65, 66, 66);
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 1000px;
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(104, 107, 107, 0.555);
        height: 200px;
        width: 200px;
        border-bottom: 8px solid rgba(0, 0, 0, 0.719);
        border-radius: 15px;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        &:nth-child(1):hover {
            svg {
                #senka {
                    opacity: 0.5;
                }
                #pion,
                #ruka {
                    transform: translateY(-20px) rotateZ(10deg) translateX(10px);
                }
            }
        }
        &:hover {
            background: rgba(255, 255, 255, 0.274);
            p {
                color: rgba(255, 255, 255, 0.801);
            }
        }
        svg,
        p {
            display: flex;
        }
        svg {
            transform: scale(0.9);

            margin-left: -20px;

            #senka {
                transition: 0.2s ease-in-out;
                opacity: 0;
            }
            #pion,
            #ruka {
                transition: 0.2s;
            }

            .st0 {
                opacity: 0.4;
            }
            .st1 {
                fill: #ebe8cd;
            }
            .st2 {
                opacity: 0.6;
            }
            .st3 {
                fill: #9c9e8f;
            }
            .st4 {
                opacity: 0.04;
            }
            .st5 {
                fill: #c2bfa8;
            }
            .st6 {
                opacity: 0.8;
            }
            .st7 {
                fill: #fdffff;
            }
            .st8 {
                fill: #f2eed3;
            }
            .st9 {
                opacity: 0.1;
            }
            .st10 {
                fill: #e8c39d;
            }
            .st11 {
                fill: #e3c099;
            }
            .st12 {
                opacity: 0.4;
                fill: #cead87;
            }
            .st13 {
                fill: #d97b2c;
            }
            .st14 {
                opacity: 0.13;
                fill: #ffffff;
                stroke: #f29e5f;
                stroke-miterlimit: 10;
            }
            .st15 {
                opacity: 0.08;
                fill: #050505;
            }
            .st16 {
                fill: #62903a;
            }
            .st17 {
                fill: #ffffff;
            }

            .st18 {
                font-family: 'Concert One', cursive;
                font-size: 24px;
            }
            .st19 {
                fill: #3a709b;
                stroke: #3a709b;
                stroke-miterlimit: 10;
            }
            .st20 {
                fill: #5d8baf;
            }
            .st21 {
                fill: #628eb3;
            }
            .st22 {
                fill: #095786;
            }
            .st23 {
                fill: #99b7c0;
            }
            .st24 {
                fill: #dad6d3;
            }
            .st25 {
                fill: #e8e6e3;
            }
            .st26 {
                fill: #b9b8b5;
            }
            .st27 {
                fill: #537a87;
            }
            .st28 {
                fill: #7dacc8;
            }
            .st29 {
                fill: none;
                stroke: #e1dcda;
                stroke-width: 6;
                stroke-miterlimit: 10;
            }
        }

        p {
            margin-top: 0;
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 25px;
            color: rgba(255, 255, 255, 0.513);
        }
        &:nth-child(2) {
            svg {
                transform: translateX(10px) scale(0.9);

                #puzla {
                    transition: 0.2s ease-in-out;
                }
                #question {
                    opacity: 0;
                    transform-origin: bottom;
                    transform: rotate(-5deg) scale(0.75);
                    transition: 0.2s cubic-bezier(0.04, 1.43, 0.91, 1.56);
                }
            }
            &:hover {
                svg {
                    #question {
                        opacity: 1;
                        transform: rotate(7deg) scale(0.9) translateX(-13px)
                            translateY(-5px);
                    }
                    #puzla {
                        transform: scale(0.9);
                    }
                }
            }
        }
        &:nth-child(3) {
            svg {
                transform: scale(0.65);
                margin-left: -5px;
                #kapa {
                    transition: 0.19s cubic-bezier(0.04, 1.43, 0.91, 1.56);
                    transform-origin: left;
                }
                #percin {
                    transform: rotate(0deg) translateY(0px);
                    transform-origin: left;
                }
                #percin.hovered {
                    animation: percin 0.8s ease-in-out;
                }
            }
            &:hover {
                #kapa {
                    transform: rotate(-10deg) translateY(5px) skew(2deg);
                }
                #percin {
                    transform: skewX(-10deg) translateY(2px);
                }
            }
        }
        &:nth-child(4) {
            svg {
                transform: scale(0.83);
                margin-left: -2px;
                margin-top: 10px;
                #chess {
                    clip-path: circle(0%);
                    transform: scale(0.8) translateX(0px);
                    transform-origin: center;
                    transition: 0.2s ease-in-out;
                }
                #ekran {
                    transition: 0.25s cubic-bezier(0.08, 0.57, 0.27, 0.97);
                    transform: translateY(0px);
                }
            }
            &:hover {
                #chess {
                    clip-path: circle(100%);
                    transform: scale(0.8) translateY(-8px);
                }
                #ekran {
                    transform: translateY(-4px);
                }
            }
        }
    }
}

@keyframes percin {
    0% {
        transform: skewX(0deg) translateY(2px);
    }

    30% {
        transform: skewX(-17deg) translateY(2px) translateX(-2px);
    }

    70% {
        transform: skew(-7deg) translateY(2px);
    }

    100% {
        transform: skewX(-10deg) translateY(2px);
    }
}
